<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		 <link rel="icon" href="http://www.invivoo.com/wp-content/uploads/template-agenda-invivoo-workshop-creez-premiere-application-spring-boot.jpg"/>
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"/>
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
		 <link th:href="@{/css/style.css}" href="/css/style.css"  rel="stylesheet" type="text/css"  />
	     <title>Mon premier Projet JAVA EE</title>
	
	</head>
<!-- Fixed navbar -->
<!--<nav class="navbar navbar-default navbar-fixed-top">-->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        	<h1>Bienvenue sur l'application java EE</h1><br>
								
			<tr id="nav">
				<!-- <td class="menu-departementL"><a th:href="@{/departement/deptsListe}"><button >Liste des Departements</button> </a> -->
				<td>
				<a th:href="@{departement/deptList}"><button >Liste des Departements</button> </a>
				</td>
				<td>
				<a th:href="@{monument/MonList}"><button >Liste des Monument</button> </a>
				</td>
				</td>
				<td class ="menu-celebriteL" ><a th:href="@{/Celebrite/ListCeleb}"><button>Liste des Celebrités</button></a>
				</td>
				<td class ="menu-lieuList" ><a th:href="@{/lieu/lieuxx}"><button >Liste des Lieux</button> </a>
				</td>
				
				<div class="btn-group">
				
					 <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Ajouter <span class="caret"></span></button>
					  <ul class="dropdown-menu">
					    <li> 
					    	<a class="dropdown-item" th:href="@{/departement/formeDept}">Departement</a>
						</li>						  
						<li>
							<a class="dropdown-item" th:href="@{/monument/formulaireMonument}"> Monument</a>
						</li>						  
						<li>
							<a class="dropdown-item" th:href="@{/lieu/formulaireLieu}">Lieu</a>
						</li>
						<li>
							<a class="dropdown-item" th:href="@{/Celebrite/formCeleb}">Celebrité</a>
						</li>
					  </ul>
				
				<div class="btn-group">
				
					 <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Supprimer <span class="caret"></span></button>
					  <ul class="dropdown-menu">
					    <li> 
					    	<a  class="dropdown-item" th:href="@{/departement/SuppDept}">Departement</a>

						</li>						  
						<li>
							<a  class="dropdown-item" th:href="@{/monument/SuppMonu}"> Monument</a>
						</li>						  
						<li>
							<a  class="dropdown-item" th:href="@{/lieu/SuppLieu}">Lieu</a>
						</li>
						<li>
							<a class="dropdown-item" th:href="@{/Celebrite/SuppCeleb}">Celebrité</a>
						</li>
					  </ul>
				</div>
					
				<td class="menu-Login"><a th:href="@{/}"><button>Deconnexion</button> </a>
				</td>
			</tr>
		</div>
	</div>
</nav>
<body>
	
	

     	  <figure>
      <img src="https://www.sortiraparis.com/images/80/1467/420090-les-musees-et-monuments-ouverts-a-noel-ce-mardi-25-decembre-2018.jpg"
       alt height="1000px" width="1000px">
       </figure>
       
<footer class="footer">
    <div class="container">
        <p class="text-muted">Yousfi</p>
    </div>
</footer>
</html>