<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</head>
		


	<body>
			<div class ="container mt-3">
				<h1 align="center">La liste des Departement</h1> 
				
				<input class="form-control" id="myInput" type="text" placeholder="Search..">
			 	<br>
				
			   
				<!--  <h1 th:text="${dpt.chef_lieu}" /></h1> -->
				
				
			    <table class="table table-bordered">
			    <thead>
				    	<tr>
				    		<th>Numero de Departement</th>
				    		<th>Chef Lieu</th>
				    		<th>Nom du Departement</th>
				    		<th>Numero de la Region</th>
				    		
				    	</tr>
				     </thead>
				    <thead>
				    	 <tbody id="myTable">
						     <tr th:each="d : ${dpts}">
						     <!-- <form action="#" th:href="@{/deptsListe/SuppDept}" th:object="${depSupp}" method="GET"></form>  -->
						     
						     	<td th:text="${d.dep}"></td>
						     	<td th:text="${d.chef_lieu}"></td>
						     	<td th:text="${d.nom_dep}"></td>
						     	<td th:text="${d.numreg}"></td>
						     	   	
						     </tr>
					     </tbody>
					  </thead>
			     </table>
			        
			 
			     <a th:href="@{/}"><button>Retour</button></a> 
			     
			    
			    <!-- 
			    <div>
				    <ul>
				    	<li th:each="pa,status:${pages}" > 
				    		<a th:text="${status.index}"></a>
				    	</li>
				    </ul>
			    </div>
			
			    -->
			</div>
	
		<script>
				$(document).ready(function(){
				  $("#myInput").on("keyup", function() {
				    var value = $(this).val().toLowerCase();
				    $("#myTable tr").filter(function() {
				      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				    });
				  });
				});
		</script>
	</body> 
</html>