<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Affichage des Monument</title>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</head>

</head>
<body>
	<div class ="container mt-3">
			<h1 align="center">La liste des Monuments</h1> 
			
			<input class="form-control" id="myInput" type="text" placeholder="Search..">
		 	<br>
			
	<!--  <h1 th:text="${dpt.chef_lieu}" /></h1> -->
	
	
      <table class="table table-bordered">
	      <thead>
	    	<tr class ="info">
	    		<th>Code monument</th>
	    		<th>latitude</th>
	    		<th>longitude</th>
	    		<th>Nom monument</th>
	    		<th>Proprietaire</th>
	    		<th>type_monument</th>
	    		<th>code_lieu</th>
	    		
	    	</tr>
	     </thead>
	   
	    <thead>
	    	<tbody id="myTable">
			     <tr th:each="m : ${listeM}">
			     
			     	<td th:text = "${m.codeM}"></td>
			     	<td th:text = "${m.latitude}"></td>
			     	<td th:text = "${m.longitude}"></td>
			     	<td th:text = "${m.nomM}"></td>
			     	<td th:text = "${m.proprietaire}"></td>
			     	<td th:text = "${m.typeMonument}"></td>
			     	<td th:text = "${m.codeLieu.code_insee}"></td>
			     	
			     	
			     	   	
			     </tr>
		     </tbody>
		  </thead>
		 
     </table>
    
      <br>
     <br>
     <a th:href="@{/}"><button>Retour</button></a> 
  
    
    </div> 
    <script>
			$(document).ready(function(){
			  $("#myInput").on("keyup", function() {
			    var value = $(this).val().toLowerCase();
			    $("#myTable tr").filter(function() {
			      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			    });
			  });
			});
	</script>
</body> 
</html>