<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<title>Affichage des Célebrités</title>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</head>
<body>
	<div class ="container mt-3">
			<h1 align="center">La liste des Departement</h1> 
			
			<input class="form-control" id="myInput" type="text" placeholder="Search..">
		 	<br>
			
	    <table class="table table-bordered">
		    <thead>
		    	<tr>
		    		<th>numero_celebrite</th>
		    		<th>Epoque</th>
		    		<th>Nationalite</th>
		    		<th> Nom</th>
		    		<th>Prenom</th>
		    	</tr>
		    
		    </thead>
			    <thead>
				     <tbody id="myTable">
				    	<tr th:each="c :${clts}">
				    		<td th:text="${c.num_celebrite}"></td>
				    		<td th:text="${c.epoque}"></td>
				    		<td th:text="${c.nationalite}"></td>
				    		<td th:text="${c.nom}"></td>
				    		<td th:text="${c.prenom}"></td>
				    	</tr>
				    </tbody>
			    	
			    </thead>
	    </table>
	     <br>
		     <br>
		     <a th:href="@{/}"><button>Retour</button></a> 
			    
	    </div>	
	    
	    <script>
			$(document).ready(function(){
			  $("#myInput").on("keyup", function() {
			    var value = $(this).val().toLowerCase();
			    $("#myTable tr").filter(function() {
			      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			    });
			  });
			});
	</script>
	
	
  
</body> 
</html>