	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <link th:href="@{/css/style.css}" href="/css/style.css"  rel="stylesheet" type="text/css"  />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<title>Login</title>
</head>
<body>
	<header>
		<img id ="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4MNost3Jbm1Zjr14Q-lOXZTkCyK3nmmE8x5V4bDli3Ql0OHDHkA&s"/><br/>
				"UNIVERSITÉ DE MONTPELLIER"
	</header>
	<h1> Entrez vos coordonées svp</h1>
	<div class="container"
		style="width: 50%; background:  #ebebe0; min-height: 255px;">
	<form th:object="${userForm}" method="POST" th:action="@{/accueil}">
		<fieldset >
	    <legend>Connexion</legend>
	    	<br/>
	    	<div>
			<label>IDENTIFIANT :</label><br/>
			<input class="btn btn-default btn-block" required name="email" type="email" placeholder="Adresse e-mail" />
			</div>
			<br/><br/>
			<div>
			<label>MOT DE PASSE:</label><br/>
			
							
			<input class="btn btn-default btn-block" required name="password"
					type="password" placeholder="Mot de passe" />
			</div>
			<br/><br/>
			
			<div style= "color_text: #264d00">
				<input class="btn btn-success btn-block"  type="submit" value="Se connecter" />
			</div>
		</fieldset>
	</form>
	</div>
	<br/>
	<div th:if="${error}" class="alert alert-danger" id="center">
        <strong>Erreur</strong> Mot de passe ou Utilisateur incorrectes !
        <br>
     <a th:href="@{/}"><button>Retour page d'accueil</button></a> 
     <a th:href="@{/register}"><button>Inscription</button></a> 
    </div>

</body>
</html>