<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
			 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<link th:href="@{/css/style.css}" href="/css/style.css"  rel="stylesheet" type="text/css"  />
			
			<title>Inscription</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			
	</head>
	<body>
	<header>
		<img id ="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4MNost3Jbm1Zjr14Q-lOXZTkCyK3nmmE8x5V4bDli3Ql0OHDHkA&s"/><br/>
				"UNIVERSITÉ DE MONTPELLIER"
	</header>
		<br>
		
		<h3
			style="display: flex; justify-content: space-around; color: ##8FBC8F; align: center; font-size: 30px;">INSCRIPTION</h3>
		<br>
		<br>
		<div class="container"
			style="width: 50%; margin: auto; background: #8FBC8F; min-height: 420px;">
			<form th:action="@{/SignUP}" th:object="${registerForm}"  method="POST">
				<br>
				<div>
					<input class="btn btn-default btn-block" required type="email"
						th:field="*{email}" placeholder="Adresse e-mail" />
				</div>
				<br>
	
				<div>
					<input class="btn btn-default btn-block" th:field="*{nom}"
						placeholder="Nom" />
				</div>
				<br>
				<div>
					<input class="btn btn-default btn-block" required th:field="*{prenom}"
						placeholder="Prénom" />
				</div>
				<br>
				<div>
					<input class="btn btn-default btn-block" required type="password"
					th:field="*{password}"	placeholder="Mot de passe" />
				</div>
				<br>
				<div>
					<input class="btn btn-default btn-block" th:field="*{role}">
						
				</div>
				<br> <br>
				<div>
					<input class="btn btn-success btn-block" type="submit" value="Inscription" />
				</div>
			</form>
			<br>
			<div>
				<form action="/">
					<input class="btn btn-danger btn-block" type="submit" value="Retour" />
				</form>
			</div>
		</div>
		
		 <br>
	     <br>
	     <a th:href="@{/}"><button>Retour</button></a> 
	
	</body>
</html>