<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
		<head>
				  <title>La liste des Departements</title>
				  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			 	  <link th:href="@{/css/style.css}" href="/css/style.css"  rel="stylesheet" type="text/css"/>
				  <meta name="viewport" content="width=device-width, initial-scale=1">
				  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
				  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
				  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
				  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
			
			</head>
	<body>
		<div class ="container mt-3">
				<h1 align="center">La liste des Departement</h1> 
			    
				<input class="form-control" id="myInput" type="text" placeholder="Search..">
			 	<br>
				
				<!--  <h1 th:text="${dpt.chef_lieu}" /></h1> -->
				
				
			    <table class="table table-bordered">
				    <thead>
				    	<tr>
				    		<th>Numero de Departement</th>
				    		<th>Chef Lieu</th>
				    		<th>Nom du Département</th>
				    		<th>Numero de la Région</th>
				    		<th border="0">Supprimer<th>
				    	</tr>
				     </thead>
				    <thead>
				    	<tbody id="myTable">
						     <tr th:each="d : ${dptss}">
						     <!-- <form action="#" th:href="@{/deptsListe/SuppDept}" th:object="${depSupp}" method="GET"></form>  -->
						     
						     	<td th:text="${d.dep}"></td>
						     	<td th:text="${d.chef_lieu}"></td>
						     	<td th:text="${d.nom_dep}"></td>
						     	<td th:text="${d.numreg}"></td>
						     	<td><a th:href="@{supprimer(dep=${d.dep})}"><button> Supprimer</button></a> 
						     	</td>
						     	    	
						     	
						   
						     </tr>
					     </tbody>
					  </thead>
			     </table>
			    
			     <br>
			     <a th:href="@{/}"><button>Déconnexion</button></a>
			     <br>
			   
			    
	    </div> 
	    <script>
				$(document).ready(function(){
				  $("#myInput").on("keyup", function() {
				    var value = $(this).val().toLowerCase();
				    $("#myTable tr").filter(function() {
				      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				    });
				  });
				});
		</script>
	</body> 
</html>