<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
	<head>
			  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		 	  <link th:href="@{/css/style.css}" href="/css/style.css"  rel="stylesheet" type="text/css"  />
			  <meta name="viewport" content="width=device-width, initial-scale=1">
			  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
			  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
			  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
			  <title>La liste des lieux</title>
	
		</head>
	<body>
		<div class ="container mt-3">
		<h1 align="center">La liste des lieux</h1> 
		
		<input class="form-control" id="myInput" type="text" placeholder="Search..">
			 	<br>
				
	   
		<!--  <h1 th:text="${dpt.chef_lieu}" /></h1> -->
		
		
			    <table class="table table-bordered">
				    <thead>
				    <tr class="info">  
							<th>Code Insee</th>
							<th> Departement</th>
				    		<th>Commune</th>
				    		<th>Latitube</th>
				    		<th>Longitude</th>
				    	</tr>
				     </thead>
				    <thead>
				    	<tbody id="myTable">
						     <tr th:each = "l : ${lluxe}">
								<td th:utext = "${l.code_insee}"></td>
								<td th:utext = "${l.dep}"></td>
								<td th:utext = "${l.nom_commune}"></td>
								<td th:utext = "${l.latitude}"></td>
								<td th:utext = "${l.longitude}"></td>
								<td><a th:href="@{supprimer(code_insee=${l.code_insee})}"><button> Supprimer</button></a></td>
						     </tr>
					     </tbody>
					  </thead>
	     		</table>
	    
	     <br>
	     <br>
	      
	    
	    </div> 
	    
	    <script>
				$(document).ready(function(){
				  $("#myInput").on("keyup", function() {
				    var value = $(this).val().toLowerCase();
				    $("#myTable tr").filter(function() {
				      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				    });
				  });
				});
		</script>
		
	</body> 
</html>